/* 1. CSS Reset & Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Skenario Animasi: Mulai dari transparan & dibawah menuju solid & di posisi asli */
@keyframes munculKeAtas {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes geserDariKanan {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* 2. Pengaturan Dasar Halaman (Tipografi & Warna Background) */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    /* Warna abu-abu sangat terang */
    color: #333333;
    /* Warna teks abu-abu gelap (lebih nyaman dibaca daripada hitam pekat) */
    line-height: 1.6;
}

/* 3. Update Styling Header */
header {
    background-color: #2c3e50;
    /* Warna biru gelap */
    color: white;
    padding: 20px 40px;
    /*Jarak bagian dalam (box model) */

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    /* Profil ke kiri mentok, Nav ke kanan mentok */
    align-items: center;
    /* Memastikan teks profil dan menu sejajar di tengah secara vertikal */
}

/* 4. Hilangkan margin-top pada nav ul yang kita buat di Hari ke-2 agar tidak miring */
nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    /* Menghilangkan titik (bullet) pada list */
    margin-top: 0;
}

nav ul li a {
    color: #18bc9c;
    /* Warna hijau toska */
    text-decoration: none;
    /* Menghilangkan garis bawah pada link */
    font-weight: bold;
    /* Membuat teks link lebih tebal */
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: white;
    /* Efek saat mouse diarahkan ke link */
}

/* 5. Main Content */
main {
    max-width: 800px;
    /* Membatasi lebar maksimal website */
    margin: 20px auto;
    /* Margin auto menengahkan elemen ke tengah layar */
    padding: 0 20px;
}

section h2 {
    color: #2c3e50;
    margin-bottom: 15px;
    /* Memberi jarak bawah pada judul */
    border-bottom: 2px solid #18bc9c;
    /* Garis bawah elegen untuk judul */
    padding-bottom: 5px;
}

article {
    margin-bottom: 15px;
    padding: 15px;
    border-left: 4px solid #18bc9c;
    /* Garis aksen di sebelah kiri */
    background-color: #f9f9f9;
}

.unggulan {
    background-color: #fff9c4;
    /* Warna latar belakang berbeda untuk artikel unggulan */
    border-left-color: #f39c12;
    /* Warna garis aksen berbeda untuk artikel unggulan */
}

/* 6. Styling Form */

.konten {
    display: flex;
    justify-content: center;
    /* Memberi jarak antar konten utama dan sidebar */
    flex-wrap: wrap;
}

.konten-utama {
    padding: 0 10px;
    animation-name: munculKeAtas;
    animation-duration: 0.8s;
    /* Animasi berlangsung selama 0.8 detik */
    animation-timing-function: ease-out;
    /* Memulai dengan cepat, lalu melambat di akhir */
}

.sidebar {
    width: 350px;
    /* Lebar sidebar tetap */
    background-color: #ecf0f1;
    /* Warna abu-abu terang */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;

    animation-name: geserDariKanan;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

/* Styling pembungkus Proyek */
.kumpulan-proyek {
    display: flex;
    gap: 20px;
    /* Memberi jarak antar proyek (pengganti margin) */
    flex-wrap: wrap;
    /* PENTING: Jika layar sempit, kartu akan otomatis turun ke baris baru */
}

/* Styling untuk setiap proyek */
.kartu-proyek {
    flex: 1;
    /* Menyuruh semua kartu untuk membagi ruang kosong sama rata */
    min-width: 300px;
    /* Mencegah kartu menjadi terlalu gepeng di layar kecil */

    /* Pindahkan gaya dari article sebelumnya ke sini */
    background-color: #f9f9f9;
    padding: 20px;
    border-left: 4px solid #18bc9c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.kartu-proyek:hover {
    transform: translateY(-10px);
    /* Menggeser kartu ke ATAS sebanyak 10px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    /* Membuat bayangan lebih besar dan tebal */
}

/* Mengikuti font bawaan body */
input,
textarea {
    width: 100%;
    /* Membuat input dan textarea memenuhi lebar kontainer */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-family: inherit;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid #18bc9c;
    /* Mengatur ketebalan, gaya garis, dan warna sekaligus */
    box-shadow: 0 0 5px rgba(24, 188, 156, 0.5);
}

button {
    background-color: #18bc9c;
    color: white;
    padding: 12px 30px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2c3e50;
    /* Efek hover untuk tombol */
    transform: scale(1.05);
    /* Memperbesar tombol 5% dari ukuran aslinya */
}

.tombol-pesan {
    display: flex;
    justify-content: center;
}


/* 7. Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40px;
}

.sosial-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.sosial-media a {
    color: #ffffff;
    /* Warna hijau toska */
    text-decoration: none;
    /* Menghilangkan garis bawah pada link */
    font-weight: bold;
    /* Membuat teks link lebih tebal */
    transition: all 0.3s ease;
}

.sosial-media a:hover {
    color: white;
    /* Efek saat mouse diarahkan ke link */
    transform: translateY(-5px) scale(1.1);
}

/* ========================================= */
/* DESAIN RESPONSIF (MEDIA QUERIES)          */
/* ========================================= */

@media (max-width: 768px) {

    /* 1. Header menjadi kolom (atas-bawah) */
    header {
        flex-direction: column;
        /* Mengubah arah flex dari baris (kiri-kanan) menjadi kolom (atas-bawah) */
        text-align: center;
        /* Menengahkan teks */
        gap: 20px;
        /* Jarak antara nama dan navigasi */
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    /* 2. Menu navigasi agar bisa turun baris jika layarnya terlalu sempit */
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    /* 3. Menyesuaikan area konten utama agar tidak terlalu mepet */
    .konten-utama {
        padding: 0 10px;
        animation-name: munculKeAtas;
        animation-duration: 0.8s;
        /* Animasi berlangsung selama 0.8 detik */
        animation-timing-function: ease-out;
        /* Memulai dengan cepat, lalu melambat di akhir */
    }

    .kartu-proyek {
        min-width: 100%;
        padding: 15px;
    }

    /* 4. Sidebar memanjang penuh dan batas margin dikurangi */
    .sidebar {
        width: 100%;
        /* mengisi penuh lebar layar */
        margin: 20px 0;
        /* Menghilangkan margin kiri-kanan agar tidak keluar layar */
    }

    /* 5. Footer menumpuk ke bawah */
    footer {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}